/* review */

.section-review {
  padding-top: calc(10rem + 4.2rem);
}

.section-review .container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section-review .decoration-back {
  top: 20%;
  left: 0;
}

.section-review .content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.testimonials {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 29rem;
  justify-content: flex-start;
  position: relative;
}

.testimonial {
  background: var(--color-fifth);
  border-radius: 1rem;
  padding: 5rem;
  width: 33.33%;
  height: 100%;
  text-align: center;
  flex-shrink: 0;
  position: absolute;
  left: 120%;
  animation: 20s linear infinite slide;
}

.testimonial:nth-child(1) {
  animation-delay: calc(20s / 4 * (4 - 1) * -1);
}

.testimonial:nth-child(2) {
  animation-delay: calc(20s / 4 * (4 - 2) * -1);
}

.testimonial:nth-child(3) {
  animation-delay: calc(20s / 4 * (4 - 3) * -1);
}

.testimonial:nth-child(4) {
  animation-delay: calc(20s / 4 * (4 - 4) * -1);
}

@keyframes slide {
  to {
    left: -50%;
  }
}

.quote {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.down {
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.rating {
  display: flex;
  gap: 0.2rem;
}

.star {
  color: #ffd700;
  font-size: 2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #d1d5db;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  color: #0b0b0b;
  font-weight: 500;
}

.btn-add-comment {
  align-items: center;
  margin-top: 10rem;
  display: flex;
  background: var(--color-secondary);
  color: var(--txt);
  font-size: 3rem;
  transition: box-shadow 1s;
  animation: 1s infinite alternate add-btn-glow;

  &:hover {
    animation-play-state: paused;
  }
  &:hover .txt {
    width: 20rem;
  }
}
.txt {
  width: 0;
  overflow: hidden;
  display: block;
  transition: width 1s ease-in-out;
  font-size: 1.5rem;
  text-wrap-mode: nowrap;
}

@keyframes add-btn-glow {
  to {
    box-shadow: 0px 0px 15px 6px var(--color-ternary);
  }
}

.form-container {
  width: 40%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  transform: translateY(20px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.form-container.shown {
  transform: none;
  opacity: 1;
}

.form-container .btn-close {
  width: 2rem;
  margin-left: auto;
}

.form-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
}

.form-comment textarea {
  font-size: 1.8rem;
  min-height: 20rem;
  max-height: 20rem;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: none;
  margin-bottom: 0.8rem;

  &:active,
  &:focus {
    border: 3px solid var(--color-secondary);
  }
}

.form-comment textarea::placeholder {
  color: #ccc;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
}

.form-comment textarea:not(:placeholder-shown):not(:focus) {
  border: 2px solid var(--color-secondary);
}

.form-comment button {
  background-color: var(--color-secondary);
  color: var(--txt);
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: 2px 2px #999;
  }
}
