

/* review */

.section-review{
    padding-top: calc(10rem + 4.2rem);
  }
  .section-review .content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .section-review .subheading{
    font-size: 1.7rem;
    line-height: 1.6;
    color: var(--txt);
  }
  
  .testimonials {
    width: calc(33.33% * var(--num-items) * 2); 
    animation: slide 60s linear infinite; 
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    /* overflow: hidden; */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-33.33% * var(--num-items)));
    }
  }
  
  .testimonial {
    background: var(--txt);
    border-radius: 1rem;
    padding: 5rem;
    width: 33.33%;
    text-align: center;
    flex-shrink: 0;
  }
  
  .quote {
    font-size: 2rem;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .down {
    margin-top: 3rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
  
  .rating {
    display: flex;
    gap: 0.2rem;}
  
  .star {
    color: #ffd700;
    font-size: 2rem;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background: #d1d5db;
    border-radius: 50%;
  }
  
  .name {
    font-size: 2rem;
    color: #0b0b0b;
    font-weight: 500;
  }
  
  
  .btn-add-comment {
    align-items: center;
    margin-top: 10rem;
    display: flex;
    background: var(--color-secondary);
    color: var(--txt);
    font-size: 5rem;
    transition: box-shadow 1s;
    animation: 1s infinite alternate add-btn-glow;
  
    &:hover {
      animation-play-state: paused;
    }
    &:hover .txt {
      width:20rem;
    }
  
  }
  .txt{
    width: 0;
    overflow: hidden;
    display:block;
    /* transition: width 1s ease-in-out; */
    font-size: 1.5rem;
  }
  
  @keyframes add-btn-glow {
    to {
      box-shadow: 0px 0px 15px 6px var(--color-ternary);
    }
  } 