/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Dark Mode (default)*/
  --color-primary: #001e45;
  --color-secondary: #004aad;
  --color-ternary: #4d80c6;
  --txt: #e4efff;
  --heading-txtshadow: #1a5cb5;
  --light-btn: #c3dcff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: var(--color-primary);
  overflow-x: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.heading-primary,
.heading-secondary,
.heading-ternary {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--txt);
  margin-bottom: 1.8rem;
}

.heading-primary {
  font-size: 6.4rem;
  text-shadow: 1px 1px 10px var(--heading-txtshadow);
}

.heading-secondary {
  font-size: 5.2rem;
  text-shadow: 1px 1px 10px var(--heading-txtshadow);
}

.heading-ternary {
  font-size: 3.8rem;
}

.subheading {
  font-size: 2rem;
  color: var(--color-ternary);
  display: block;
}

.list {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 2.4rem;
}

.flex-column {
  flex-direction: column;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.6;
  color: var(--txt);
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #fff;
}

[class^='decoration-'] {
  position: absolute;
}

[class^='section-'] {
  position: relative;
}

[class^='btn-'] {
  border: none;
  background: none;
  font-size: 2rem;
  border-radius: 11px;
  padding: 1.2rem 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.margin-bot-lrg {
  margin-bottom: 4.2rem;
}

/* //////////////////////////////////////////////// */
/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  height: 10rem;
  position: absolute;
  top: 0;
}

.logo {
  width: 20rem;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.nav-list {
  gap: 3.2rem;
  color: var(--txt);
}

.user-controls {
  display: flex;
  gap: 2.4rem;
}

.btn-account {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

/* //////////////////////////////////////////////// */
/* Hero Section */

.section-hero {
  /* padding-top: 10rem; */
  padding-top: calc(10rem + 4.2rem);
}

.section-hero .content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.laptop-mockup {
  width: 90rem;
  height: 80rem;
  margin-bottom: 30rem;
}

.mobile-mockup {
  width: 60rem;
  height: 60rem;
  position: absolute;
  bottom: 0;
  left: -5%;
  z-index: 2;
  transition: opacity 2s, transform 2s;
}

.section-hero .decoration-bottom {
  bottom: 0;
  right: 0;
  height: 90rem;
  z-index: 1;
}

.section-hero .decoration-top {
  top: -10rem;
  right: 0;
  height: 90rem;
  z-index: -1;
}

.back-pulse {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -2;
  animation: 4s infinite linear pulse;
  stroke-width: 5.3rem;
  stroke-dashoffset: 17000;
  stroke-dasharray: 15000;
}

@keyframes pulse {
  to {
    stroke-dashoffset: 0%;
  }
}

.btn-download {
  background-color: var(--light-btn);
  color: var(--color-secondary);
  z-index: 4;
  position: absolute;
  right: 20%;
  bottom: 8%;
  box-shadow: 0px 0px 5px 4px var(--light-btn);
  padding: 1.6rem 3.2rem;
  font-size: 2.4rem;
  transition: box-shadow 1s;
  border-radius: 22px;
  animation: 1s infinite alternate btn-glow;

  &:hover {
    animation-play-state: paused;
    color: var(--color-ternary);
  }
}

@keyframes btn-glow {
  to {
    box-shadow: 0px 0px 20px 4px var(--light-btn);
  }
}

.section-hero .part {
  transform: translateY(40%);
  opacity: 0;
}

.reveal-parts .part {
  transform: translate(0);
  opacity: 1;
}

#screens {
  animation: 30s forwards infinite scrollDown;
}

#sanjo-arm {
  animation: 1.4s alternate infinite wave;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes wave {
  to {
    transform: rotate3d(0, 0, 1, 14deg);
    /* transform: rotate(20deg); */
  }
}

@keyframes scrollDown {
  to {
    transform: translate3d(0, -660%, 0);
  }
}

@keyframes goside {
  0% {
    opacity: 1;
    transform: translate3d(0%, 0, 0);
  }

  5% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }

  15% {
    transform: translate3d(0%, -90%, 0);
    opacity: 1;
  }

  20% {
    transform: translate3d(0%, -90%, 0);
    opacity: 1;
  }

  25% {
    transform: translate3d(0%, -170%, 0);
    opacity: 1;
  }

  30% {
    transform: translate3d(0%, 170%, 0);
    opacity: 1;
  }

  35% {
    transform: translate3d(0%, -260%, 0);
    opacity: 1;
  }

  40% {
    transform: translate3d(0%, 260%, 0);
    opacity: 1;
  }

  45% {
    transform: translate3d(0%, -360%, 0);
    opacity: 1;
  }

  50% {
    transform: translate3d(0%, -360%, 0);
    opacity: 1;
  }

  55% {
    transform: translate3d(0%, -460%, 0);
    opacity: 1;
  }

  60% {
    transform: translate3d(0%, -460%, 0);
    opacity: 1;
  }

  65% {
    transform: translate3d(0%, -570%, 0);
    opacity: 1;
  }

  70% {
    transform: translate3d(0%, -570%, 0);
    opacity: 1;
  }

  75% {
    transform: translate3d(0%, -660%, 0);
    opacity: 1;
  }

  80% {
    transform: translate3d(0%, -660%, 0);
    opacity: 1;
  }

  85% {
    transform: translate3d(0%, -7300%, 0);
    opacity: 1;
  }

  90% {
    transform: translate3d(0%, -730%, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0%, -730%, 0);
    opacity: 0;
  }
}

#mobile-screens {
  animation: 20s infinite forwards goside;
}

@keyframes goside {
  0% {
    transform: translate3d(0%, 0, 0);
  }

  5% {
    transform: translate3d(-90%, 0, 0);
  }

  10% {
    transform: translate3d(-90%, 0, 0);
  }

  20% {
    transform: translate3d(-174%, 0, 0);
  }

  30% {
    transform: translate3d(-174%, 0, 0);
  }

  40% {
    transform: translate3d(-258%, 0, 0);
  }

  50% {
    transform: translate3d(-258%, 0, 0);
  }

  60% {
    transform: translate3d(-344%, 0, 0);
  }

  70% {
    transform: translate3d(-344%, 0, 0);
  }

  80% {
    transform: translate3d(-424%, 0, 0);
  }

  90% {
    transform: translate3d(-424%, 0, 0);
  }

  100% {
    transform: translate3d(-514%, 0, 0);
  }
}

/* //////////////////////////////////////////////// */
/* meet Section */
.section-meet {
  text-align: center;
}

.section-meet .container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.section-meet .content {
  grid-column: span 2;
}

.section-meet .decoration-back,
.section-meet .decoration-bottom {
  z-index: -1;
}

.section-meet .decoration-bottom {
  bottom: 0;
  right: 0;
  width: 30rem;
  height: auto;
}

.sanjo-stand {
  height: 30rem;
  align-self: end;
}

.sanjo-stand img {
  width: auto;
}

.messages-container {
  height: 80vh;
  overflow: hidden;
}

.log {
  transform: translateZ(200px);
  background-color: red;
  width: 100%;
  height: 100%;
  position: fixed;
}

.sanjo-messages {
  position: relative;
  height: 100%;
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transform-style: preserve-3d;
  perspective: 3000px;
  --quantity: 9;

  /* background-color: cyan; */

  animation: 30s infinite linear rotate;
}

/* 
.sanjo-messages::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;

  width: 50rem;
  height: 50rem;
  transform: rotateX(90deg);
  background-color: green;
} */

@keyframes rotate {
  to {
    transform: rotateX(-360deg);
  }
}

.message {
  background-color: #fff;
  color: var(--color-primary);
  width: 70%;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 2.4rem;
  border-top: 9px solid var(--color-secondary);
  border-radius: 2rem;
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 2rem;
  animation: 12s infinite ease-in-out circular-route;
}

.message {
  height: fit-content;
  position: absolute;
  inset: 0 0 0 0;
  top: 30%;
  transform: rotateX(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
}

.message:nth-child(1) {
  animation-delay: 1s;
  --position: 1;
}

.message:nth-child(2) {
  animation-delay: 3s;
  --position: 2;
}

.message:nth-child(3) {
  animation-delay: 5s;
  --position: 3;
}

.message:nth-child(4) {
  animation-delay: 7s;
  --position: 4;
}

.message:nth-child(5) {
  animation-delay: 9s;
  --position: 5;
}

.message:nth-child(6) {
  animation-delay: 11s;
  --position: 6;
}

.message:nth-child(7) {
  animation-delay: 13s;
  --position: 7;
}

.message:nth-child(8) {
  animation-delay: 15s;
  --position: 8;
}

.message:nth-child(9) {
  animation-delay: 17s;
  --position: 9;
}

/* @keyframes circular-route {
  0% {
    opacity: 10%;
  }

  35% {
    opacity: 70%;
    scale: 1;
  }
  40% {
    opacity: 1;
    scale: 1.2;
  }
  50% {
    opacity: 1;
    scale: 1.2;
  }
  55% {
    scale: 1;
    opacity: 70%;
  }

  100% {
    transform: translate3d(0, 700%, 0);
    opacity: 10%;
  }
} */

/* @keyframes circular-route {
  0% {
    opacity: 20%;
    transform: translate3d(0, -100%, 0) scale(1);
    z-index: -1;
  }

  10% {
    opacity: 50%;
    transform: translate3d(0, 10%, 0) scale(1);
    z-index: -1;
  }
  20% {
    opacity: 50%;
    transform: translate3d(0, 110%, 0) scale(1);
    z-index: -1;
  }
  30% {
    opacity: 50%;
    transform: translate3d(0, 110%, 0) scale(1);
    z-index: -1;
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 220%, 0) scale(1);
    z-index: -1;
  }
  55% {
    opacity: 1;
    transform: translate3d(0, 220%, 0) scale(1.2);
    z-index: 5;
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 220%, 0) scale(1.2);
    z-index: 5;
  }

  80% {
    opacity: 50%;
    transform: translate3d(0, 380%, 0) scale(1);
    z-index: -1;
  }
  90% {
    opacity: 50%;
    transform: translate3d(0, 380%, 0) scale(1);
    z-index: -1;
  }
  100% {
    opacity: 50%;
    transform: translate3d(0, 620%, 0) scale(1);
    z-index: -1;
  }
} */

/* ################# */

.section-how {
  padding: 15rem 2rem;
  position: relative;
  overflow: hidden;
}

.section-how .content {
  text-align: center;
}

.section-how::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 20%;
  width: 30%;
  height: 30%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.1) 0%,
      transparent 70%);
  pointer-events: none;
}

.section-how::after {
  content: '';
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 30%;
  height: 30%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.1) 0%,
      transparent 70%);
  pointer-events: none;
}

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* .step:nth-child(even) .text-block {
  order: 2;
} */

.step-reverse {
  flex-direction: row-reverse;
}

.text-block {
  width: 50%;
  background: var(--color-ternary);
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
}

.step-number {
  display: block;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
  opacity: 54%;
  font-weight: 700;
}

.circle-outer,
.circle-inner {
  position: absolute;
  border-radius: 50%;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-outer {
  width: 55%;
  height: 80%;
  background: radial-gradient(circle, #0c4290cc 100%, transparent 80%);
}

.circle-inner {
  width: 40%;
  height: 60%;
  background: radial-gradient(circle, #1a5cb5 100%, transparent 90%);
}

.phone-graphic {
  position: relative;
  width: 40%;
}

.phone {
  width: 100%;
  max-width: 180px;
  height: 360px;
  background-color: #ffffff;
  border: 8px solid #333333;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}


.phone::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 5px;
  background-color: #333333;
  border-radius: 5px;
}

.phone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 10px;
  background-color: #00cc00;
  border-radius: 5px;
}

.section-how .decoration-top,
.section-how .decoration-bottom {
  position: absolute;
  width: 100%;
  height: 90rem;
  z-index: -1;
  left: 0;
}

.section-how .decoration-bottom {
  bottom: 0;
}

.section-how .decoration-top {
  top: -15rem;
}

/* ############################### */

/* animation how "sooo 3kkk" */
/* .slide-up {
  opacity: 0;
  animation: slideUp 0.8s ease-out forwards;
}

.slide-from-left {
  opacity: 0;
  animation: slideFromLeft 0.8s ease-out forwards;
}

.slide-from-right {
  opacity: 0;
  animation: slideFromRight 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0; 
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 */



/* Features */


.section-features {
  /* padding-top: calc(10rem + 4.2rem); */
  padding: 8rem 0;
}

.section-features .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.left{
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow: hidden; */
} 

.sidebar {
  background-color: var(--color-secondary);
  width: 13%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: absolute;
  left: 10rem;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 5rem;
  letter-spacing: 3px;
}

.circle_up,.circle_down{
  width: 27rem;
  z-index: -1;
}
.circle_up{
  top: 70%;
  margin-left: -19rem;
  margin-top: -8rem;
  transform: translateY(-70%);
  transform: translateX(14%);
  z-index: 1;
}
.circle_down{
  margin: 60rem  0 -8rem -20rem ;
  transform: translateY(100%);
  /* transform: translateX(-20%); */
  transform: rotate(180deg);
  z-index: 1;
}

.features-grid {
  width: 80%;
  /* padding-left: -20rem; */
  display: grid;
  gap: 2rem;
  width: fit-content;
}

.feature-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.feature-item::before {
  content: '';
  /* position: absolute; */
  /* left: -2rem; */
  top: 50%;
  margin-left: -3rem;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
}
.connector-line {
  /* margin-right: -10rem; */
  /* left: -8rem; */
  height: 2px;
  background-color: var(--color-secondary);
}

.connector-line--short {
  width: 10rem;
}

.connector-line--medium {
  width: 22rem;
}

.connector-line--long {
  width: 37rem;
}

.feature-item {
  background-color: var(--txt);
  color: var(--color-secondary);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  margin: .6rem 0;
  font-weight: 600;
  font-size: 2.5rem;
  transition: transform 0.3s ease;
  /* width: fit-content; */
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-item .icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 2rem;
}

.section-features .decoration-bottom{
  width: 35rem;
  height: 35rem;
  margin: 35rem  0 0 100rem ; 
  /* t r b l*/
  transform: translateY(-100%);
  transform: rotate(270deg);
}

/* review */

.section-review{
  padding-top: calc(10rem + 4.2rem);
}
.section-review .content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.section-review .subheading{
  font-size: 2rem;
  line-height: 1.6;
  color: var(--txt);
}

.testimonials {
  /*
  width: calc(30% * var(--num-items) * 2); 
  animation: slide 90s linear infinite;  */

  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.testimonial {
  background: var(--txt);
  border-radius: 1rem;
  padding: 5rem;
  width: 33.33%;
  text-align: center;
}

.quote {
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

.down {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.rating {
  display: flex;
  gap: 0.2rem;}

.star {
  color: #ffd700;
  font-size: 2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #d1d5db;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  color: #0b0b0b;
  font-weight: 500;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33.33% * var(--num-items)));
  }
}

.btn-add-comment {
  background: var(--color-secondary);
  color: white;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 300;
  /* display: block; */
  /* transition: background 0.3s ease; */
}

.btn-add-comment:hover {
  background:var(--heading-txtshadow);
}